<div>
<h1>{{post.title}}</h1>
<p>{{post.published_date}}</p>
<p>{{post.text}}</p>
<a href="{% url 'home'%}"> 홈으로 가기!!!!!</a>
<a href="{% url 'edit' post.id %}">수정하기</a> 
<a href= "{% url 'delete' post.id %}">삭제하기</a>
</div>
<!-- 수정하기를 누르면 해당 데이터가 무슨 데이터인지 알 수 있도록 id가 지정된 url을 추가했어요. -->


<!-- 
git init : 나 이제 git쓸께!!! 이거 시작하기 전에 꼭 써야 함
git add README.md : 장바구니에 README.md를 담을꺼에요!!!!
git commit -m "first commit" : 장바구니 설명 문구는 first commit이라고 해주세요
git remote add origin https://github.com/rnrqo9446/19.04.15_likelion.git : 장바구니를 보낼 주소는 저장소에욥!!!!
git push -u origin master



 -->